################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/Projetos/Xadrez/Xadrez/.vs/Xadrez/v17
